* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2b6b34;
    --primary-hover-color: #235b2b;
    --text-color: #898989;
    --footer-color: #f9f9f9;
    --border-color: #eee;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    height: 55px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 1;
    top: 0;
}

#logo {
    margin-top: 18px;
    width: 150px;
}
#logo a img {
    width: 100%;
}

#left-panel {
    position: fixed;
    width: 260px;
    height: 100vh;
    background-color: #fff;
    left: 0;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    padding-top: 20px;
}

#right-panel {
    background-color: #f1f2f7;
    min-height: 95vh;
    margin: 55px 0 0 260px;
}

nav ul li.nav-item {
    padding: 15px 20px;
    cursor: pointer;
}

nav ul li svg {
    display: inline-block !important;
    width: 30px !important;
    color: #607d8b;
    transition: color 0.25s ease-in-out;
}

nav ul li.nav-item a {
    padding-left: 20px;
    font-size: 14px;
    color: #607d8b;
    transition: color 0.25s ease-in-out;
}

nav ul li:hover > a,
nav ul li:hover > svg,
nav ul li:hover > a svg {
    color: #03a9f3;
    transition: color 0.25s ease-in-out;
}

.sub-nav {
    display: none;
    padding-top: 10px;
    padding-left: 20px;
}

/* .sub-nav li.sub-nav-item {
} */

.sub-nav li.sub-nav-item a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.sub-nav li.sub-nav-item a svg {
    padding-right: 10px;
}

.greeting {
    margin-top: 20px;
    cursor: pointer;
}

.greeting svg {
    margin-left: 5px;
}

.username {
    color: var(--primary-color);
}

/* affect */
.display {
    display: block !important;
}

.rotate {
    transform: rotate(90deg);
}

.dropdown {
    position: absolute;
    display: none;
    width: 200px;
    right: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eee;
}

.dropdown.show {
    display: block !important;
}

.dropdown ul li {
    border-radius: 5px;
    border: 1px solid #eee;
}

.dropdown ul li a {
    padding: 10px 10px;
    display: block;
    color: black;
}

.dropdown ul li:hover {
    background-color: var(--primary-color);
}

.dropdown ul li:hover a {
    color: white;
}

.card-title svg {
    font-size: 23px;
}

.card-text {
    font-size: 30px;
}

.edit {
    /* margin-left: 20px; */
    font-size: 17px;
}

.login-form {
    max-width: 35rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.login-form input {
    padding: 0.8rem;
    border: 1px solid #eee;
    color: #333;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;
    transition: border 0.25s linear;
    font-weight: normal;
}

.login-form input:focus {
    outline-style: none;
    border-color: var(--primary-color);
}

.login-form button {
    width: 100%;
    padding: 0.8rem;
    border-radius: 4px;
    color: white;
    border: none;
    background-color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
}

.login-form .forgot {
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.login-form .input-icon {
    position: relative;
}
