/* Medium Layout */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet Layout */
@media only screen and (max-width: 991px) {
    /* ------------------------------------------------------
*                   01 Home css
* ------------------------------------------------------- */
    /* ------------------------------------------------------
*                   01.1 Header css
* ------------------------------------------------------- */
    header {
        position: sticky;
        top: 0;
        z-index: 2;
    }
    nav {
        padding: 0;
    }

    #main-nav {
        position: absolute;
        width: 70%;
        height: 100vh;
        padding-top: 5rem;
        top: 0;
        left: -70%;
        background-color: white;
        flex-direction: column;
        justify-content: start;
        transition: all 250ms ease-in;
        z-index: 2;
    }

    .nav-item {
        margin-bottom: 2rem;
    }

    #bag-icon {
        display: none;
    }

    #cart-qty {
        display: block;
    }

    #burger {
        display: block;
    }
    /* ------------------------------------------------------
*                   01.2 Content css
* ------------------------------------------------------- */
    section#intro h4 {
        font-size: 3.1rem;
        line-height: 40px;
    }

    #all-products li {
        margin: 0 auto 1.5rem auto;
        width: 85%;
    }

    /* ---------- assurance ---------- */

    #assurance-cards ul li {
        width: 45%;
    }

    /* ---------- carousel ---------- */

    .owl-carousel-items {
        flex-wrap: wrap;
    }
    .owl-carousel-item {
        width: 100%;
    }

    .fb-content {
        flex-wrap: wrap;
    }

    .fb-img {
        width: 100% !important;
        height: 100%;
    }

    /* ----------------------------------------------------------------------------------------
  *                                       02. Product css
  * -------------------------------------------------------------------------------------- */
    #product-list li {
        width: 85%;
        margin: 0 auto 1.5rem auto;
    }

    /* ----------------------------------------------------------------------------------------
  *                                       04. Recruitment css
  * -------------------------------------------------------------------------------------- */
    .rank-item {
        width: 100%;
        margin-bottom: 2rem;
    }

    .contact form {
        width: 100%;
        padding: 3rem;
    }

    /* ----------------------------------------------------------------------------------------
  *                                       05. Product detail css
  * -------------------------------------------------------------------------------------- */
    .wp-product-infomation {
        width: 100%;
    }

    #product-btn-add-1 {
        display: none;
    }
    #product-btn-add-2 {
        display: block !important;
    }

    .product-images {
        width: 100%;
        order: 2;
    }

    .product-infomation {
        width: 100%;
        order: 1;
    }

    /* ----------------------------------------------------------------------------------------
  *                                       05. Cart css
  * -------------------------------------------------------------------------------------- */
    .wp-total .cart-collaterals {
        width: 100% !important;
    }

    /* ----------------------------------------------------------------------------------------
  *                                       05. Check out css
  * -------------------------------------------------------------------------------------- */
    #checkout-wrapper .logo {
        display: block;
    }

    #checkout-wrapper main,
    #checkout-wrapper aside {
        float: none;
        width: 100%;
    }

    #checkout-wrapper main .logo {
        display: none;
    }

    #checkout-wrapper main {
        min-height: 500px;
        padding: 0 10px 0 10px;
    }

    #checkout-wrapper aside {
        min-height: 300px;
        border-left: none;
        padding: 30px 10px 0 10px;
        position: relative;
        border-top: 1px solid #e1e1e1;
    }

    #checkout-wrapper aside::after {
        content: "";
        display: block;
        width: 300%;
        height: 101%;
        position: absolute;
        top: -1px;
        left: -100%;
        bottom: 1;
        background: #fafafa;
        z-index: -1;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }

    #checkout-wrapper main .custom-info form {
        text-align: center;
    }

    #checkout-wrapper main .custom-info form input[type="submit"] {
        width: 100%;
    }
}

/* Mobile Layout */
@media only screen and (max-width: 767px) {
    /* ----------------------------------------------------------------------------------------
  *                                       04. Recruitment css
  * -------------------------------------------------------------------------------------- */
    .left,
    .right {
        width: 100%;
    }

    #contact-phone h2 {
        display: none;
    }

    #contact-phone {
        width: 6rem;
        border-radius: 50%;
    }
}

/* Small Mobile Layout */
@media only screen and (max-width: 480px) {
    /* ---------- assurance ---------- */
    #assurance-cards ul li {
        width: 100%;
    }

    /* ----------------------------------------------------------------------------------------
  *                                       04. Recruitment css
  * -------------------------------------------------------------------------------------- */
    .contact input {
        width: 100%;
    }

    /* ----------------------------------------------------------------------------------------
  *                                       05. Cart css
  * -------------------------------------------------------------------------------------- */
    .th-product-price {
        display: none;
    }

    .td-product-price {
        display: none;
    }

    .td-product-remove a svg {
        opacity: 1 !important;
    }

    .td-product-quantity input {
        width: 6.5rem !important;
        text-indent: 1rem !important;
    }

    .td-product-name {
        width: 25%;
    }

    /* ----------------------------------------------------------------------------------------
    *                                       06. Contact out css
    * -------------------------------------------------------------------------------------- */
    .informations {
        margin: 0;
    }
}
