/* ----------------------------------------------------------------------------------------
*                                       01. General css
* -------------------------------------------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inconsolata", "Roboto" !important;
}

:root {
    --primary-color: #2b6b34;
    --primary-hover-color: #235b2b;
    --text-color: #898989;
    --footer-color: #f9f9f9;
    --border-color: #eee;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: white;
}

a:hover {
    text-decoration: none;
}

/* ----------------------------------------------------------------------------------------
*                                       02. Home css
* -------------------------------------------------------------------------------------- */

/* ------------------------------------------------------
*                   02.1 Header css
* ------------------------------------------------------- */
.promotions {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    color: white;
    background-color: var(--primary-color);
}

nav {
    padding: 5rem 0;
}
#nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------- Logo ---------- */
#logo a {
    display: block;
    width: 140px;
}

#logo a img {
    display: block;
    width: 140px;
}

/* ---------- Main-nav ---------- */
#cart-qty {
    display: none;
}

#bag {
    display: none;
}

#burger {
    display: none;
    cursor: pointer;
    padding: 0.5rem;
}

#burger .line {
    width: 2.3rem;
    height: 0.2rem;
    background-color: var(--primary-color);
    margin-bottom: 0.5rem;
    transition: all 250ms ease-in;
}

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 3.5rem;
    font-size: 1.8rem;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: var(--primary-color);
}

.nav-item:hover > a {
    color: var(--primary-hover-color);
    border-bottom: 1px solid var(--primary-hover-color);
}

#bag-icon {
    position: relative;
    cursor: pointer;
}

.bag {
    font-size: 3.5rem;
    color: var(--primary-color);
}

#bag-qty {
    position: absolute;
    width: 100%;
    right: 0;
    text-align: center;
    padding-top: 0.9rem;
    color: var(--primary-color);
}

/* ---------- dark-background ---------- */
#dark-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    display: none;
    z-index: 1;
}

/* ---------- Main-nav (burger effect) ---------- */
.toggle-line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle-line2 {
    opacity: 0;
}

.toggle-line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.nav-toggle {
    left: 0 !important;
    transition: all 0.1s ease-in;
}

.display-block {
    display: block !important;
}

/* ---------- Cart ---------- */
#cart {
    position: absolute;
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px 0 rgba(238, 238, 238, 0.8);
    background: white;
    width: 40rem;
    top: 45px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease-in;
    z-index: 1;
    cursor: default;
}

#cart-items {
    position: relative;
    min-height: 12rem;
    padding-bottom: 3.5rem;
    text-align: center;
}

#cart-subtotal {
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
}

#cart-subtotal p {
    text-align: center;
    font-size: 1.6rem;
}

#subtotal-price {
    color: var(--primary-color);
}

.cart-item {
    border-bottom: 1px solid var(--border-color);
    transition: all 250ms ease-in;
}

.cart-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 1.5rem;
    transition: all 250ms ease-in;
}

.cart-item:hover a {
    background-color: #fafafa;
    transition: all 250ms ease-in;
}

.product-thumb {
    width: 4.7rem;
    height: 4.7rem;
    margin-right: 1rem;
    overflow: hidden;
}

.product-thumb img {
    width: 100%;
}

.bag-product-info {
    width: 20rem;
    font-size: 1.5rem;
    text-align: left;
}

.bag-product-info p {
    margin: 0;
    color: var(--primary-color);
}

.bag-product-info .qty {
    color: var(--text-color);
    font-size: 1.5rem;
}

.product-name {
    font-size: 1.7rem;
}

.product-sub-price p {
    color: var(--primary-color);
    font-size: 1.6rem;
    margin: 0;
}

#cart-btn {
    padding: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.view-cart,
.checkout-cart {
    width: 15rem;
    margin-bottom: 1rem;
    transition: all 250ms ease-in;
}

.view-cart a,
.checkout-cart a {
    padding: 1.2rem 2rem;
    display: block;
    width: 100%;
    font-size: 1.5rem;
}

.view-cart {
    background: var(--border-color);
    transition: all 250ms ease-in;
}

.view-cart:hover {
    background-color: #e6e6e6;
    transition: all 250ms ease-in;
}

.view-cart a {
    color: #333;
}

.checkout-cart {
    background: var(--primary-color);
    transition: all 250ms ease-in;
}

.checkout-cart a {
    color: white;
}

.checkout-cart:hover {
    transition: all 250ms ease-in;
    background-color: var(--primary-hover-color);
}

.empty-bag {
    padding-top: 3rem;
    font-size: 1.6rem;
}

.empty-bag a:hover {
    border-bottom: 1px solid var(--primary-color);
}

#loading-bag {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff8a;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-bag .spinner-border {
    color: var(--primary-color);
    top: 50%;
    z-index: 2;
    width: 4rem;
    height: 4rem;
}

/* ---------- Main-nav (bag effect) ---------- */
.visible {
    visibility: visible;
    opacity: 1 !important;
    transition: all 250ms ease-in;
}

/* ---------- contact phone ---------- */
#contact-phone {
    display: inline-block;
    position: fixed;
    left: 2rem;
    bottom: 2.4rem;
    z-index: 1;
    background-color: var(--primary-color);
    /* border-radius: 0.5rem;
  padding: 1rem 2rem; */
    width: 20rem;
    height: 6rem;
    border-radius: 0.5rem;
}

#contact-phone h2 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 2rem;
}

#contact-phone a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.4rem;
    color: white;
    font-size: 1.7rem;
}

#contact-phone a svg {
    font-size: 3rem;
}

/* ------------------------------------------------------
*                   02.2 Content css
* ------------------------------------------------------- */
section#intro {
    padding: 4rem 0;
}

section#intro h4 {
    font-size: 6rem;
    color: var(--primary-color);
    text-transform: capitalize;
}

#typed {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
}

section#products {
    margin-top: 3rem;
}

.head-title h4 {
    display: inline-block;
    color: var(--primary-color);
    font-size: 2rem;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 0.2rem;
}

#all-products {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-products li {
    margin-bottom: 1.5rem;
    width: 30%;
    border: 1px solid #f4f4f4;
}

#all-products li a {
    display: block;
}

.product {
    position: relative;
}

.product img {
    width: 100%;
}

.product-info {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #ffffffe6;
    top: 5%;
    left: 5%;
    padding: 2rem;
    color: var(--primary-color);
    opacity: 0;
    transition: all 250ms ease-in;
    border: 1px solid #f4f4f4;
}

.product-title {
    position: absolute;
    bottom: 2.5rem;
    font-size: 2.2rem;
    opacity: 0;
    transition: all 250ms ease-in;
}

.product-price {
    position: absolute;
    bottom: 2rem;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 250ms ease-in;
    color: #898989 !important;
}

.product-price p {
    font-size: 1.6rem;
    color: #898989 !important;
}

.product:hover > .product-info {
    opacity: 1;
    transition: all 250ms ease-in;
}

.product:hover > .product-info > .product-title {
    bottom: 4.5rem;
    opacity: 1 !important;
    transition: all 250ms ease-in;
}

.product:hover > .product-info > .product-price {
    opacity: 1 !important;
    transition: all 500ms ease-in;
}

/* ---------- assurance ---------- */
section#assurance {
    margin-top: 4.5rem;
    margin-bottom: 5rem;
}

.assurance-intro {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-top: 1rem;
}

#assurance-cards {
    width: 100%;
    margin-top: 2rem;
}

#assurance-cards ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#assurance-cards ul li {
    list-style-type: none;
    width: 22%;
    height: 18rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#assurance-cards ul li svg {
    font-size: 4rem;
    color: #595959;
}

#assurance-cards ul li:hover .assurance-info {
    visibility: visible;
    opacity: 1;
    background-color: var(--primary-color);
    transition: all 250ms ease-in;
}

.assurance-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease-in;
}

.assurance-info h6 {
    display: inline-block;
    width: 15rem;
    text-align: center;
    font-size: 1.9rem;
    color: white;
}

/* ---------- Carousel ---------- */
.owl-carousel {
    padding-bottom: 10rem;
}

.owl-carousel-items {
    display: flex;
    justify-content: space-between;
}

.owl-carousel-item {
    width: 47%;
    margin-top: 5rem;
}

.fb-content {
    display: flex;
}

.fb-content p {
    font-size: 1.7rem;
    font-style: italic;
    color: #777;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.fb-user {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

.fb-img {
    width: 270px !important;
    height: 100%;
}
/* ------------------------------------------------------
*                   02.3 Footer css
* ------------------------------------------------------- */
footer {
    background-color: #f9f9f9;
    min-height: 5rem;
    text-align: center;
}

.ft-wrapper {
    padding: 5rem 0;
    border-bottom: 1px solid #dbdbdb;
}

.ft-header {
    margin-bottom: 1.5rem;
}

.ft-header h4 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.ft-intro p {
    color: var(--text-color);
    font-size: 1.7rem;
}

.media-icon {
    padding: 5rem 0;
}

.media-icon a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    padding-top: 1.2rem;
    margin: 0 0.5rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    text-align: center;
}

.media-icon a svg {
    font-size: 1.6rem;
}

.media-icon p {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 3rem 0;
}

/* ----------------------------------------------------------------------------------------
*                                       03. Product css
* -------------------------------------------------------------------------------------- */
#product-page {
    min-height: 55vh;
}

#product-list {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product-list li {
    list-style-type: none;
    margin-bottom: 1.5rem;
    width: 22%;
    border: 1px solid #f4f4f4;
}

#product-list li a {
    display: block;
}

#product-list li a img {
    width: 100%;
}

#product-page .product-info {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2rem !important;
}

/* ----------------------------------------------------------------------------------------
*                                       04. Recruitment css
* -------------------------------------------------------------------------------------- */
.main-title {
    font-size: 2.8rem;
    text-align: center;
    color: var(--primary-color);
}

.banner {
    display: block;
}

h1.page-title {
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.banner img {
    width: 100%;
}

.benefits {
    display: block;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.benefits h1 {
    margin-bottom: 3rem;
}

.benefits h2 {
    margin-bottom: 3rem;
}

.wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left,
.right {
    width: 50%;
}

.wrapper ul {
    margin: 0;
}

.wrapper ul li {
    list-style-type: none;
    font-size: 1.7rem;
    line-height: 3.5rem;
}

.ranks {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: block;
}

.ranks h2 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
}

.rank-list {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rank-item {
    list-style-type: none;
    width: 23%;
    height: 22rem;
    border: 1px solid #eee;
    box-shadow: 4px 4px 0 rgba(238, 238, 238, 0.8);
    text-align: center;
    padding: 2.5rem;
}
.rank-item h3 {
    font-size: 2.2rem;
    color: var(--primary-color);
}

.rank-item ul {
    margin-top: 2rem;
}

.rank-item ul li {
    font-size: 1.6rem;
    list-style-type: none;
    text-align: left;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.rank-item ul li:last-child {
    color: var(--primary-color);
    font-weight: bold;
}

.contact {
    display: block;
    margin-bottom: 10rem;
}

.contact form {
    margin: 0 auto;
    margin-top: 3rem;
    width: 800px;
    border: 1px solid #d9d9d9;
    padding: 4.5rem;
    background-color: white;
}

.contact form h3 {
    text-align: center;
    margin-bottom: 4rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.8rem;
}

.contact input {
    width: 49%;
    height: 45px;
    border: 1px solid #d9d9d9;
    padding: 13px 11px;
    margin-bottom: 12px;
    font-size: 17px;
}

.contact input[name="txtEmail"] {
    width: 100%;
}

.input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 160px;
    padding: 11px 11px;
    font-size: 1.7rem;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 250ms ease-in;
    border: none;
}

.contact input[type="submit"]:hover {
    background-color: var(--primary-hover-color);
    transition: all 250ms ease-in;
}

.contact input[type="submit"]:focus {
    background-color: var(--primary-hover-color);
    outline: none;
}

/* ----------------------------------------------------------------------------------------
*                                       04. Product Detail css
* -------------------------------------------------------------------------------------- */
#product-detail-page {
    padding-bottom: 3rem;
}

.product-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.product-images {
    width: 55%;
}

.product-images img {
    width: 100%;
    margin-bottom: 1rem;
}

.wp-product-infomation {
    position: relative;
    width: 40%;
}

.product-infomation {
    width: 100%;
    padding-bottom: 5rem;
}

.product-name {
    margin-bottom: 2rem;
}

.product-name h4 {
    font-size: 2.8rem;
    color: var(--primary-color);
}

.product-desc p {
    font-size: 1.7rem;
    color: var(--text-color);
}

.product-ingres-head,
.product-promotion-head {
    margin-top: 3rem;
}

.product-ingres-head h4,
.product-promotion-head h4 {
    font-size: 2rem;
    color: var(--primary-color);
}

.product-ingres-content p,
.product-promotion-content p {
    font-size: 1.8rem;
    color: var(--text-color);
}

.product-page-price {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.product-page-price h4 {
    font-size: 2.6rem;
    color: var(--primary-color);
    text-align: center;
}

.product-btn-add {
    cursor: pointer;
    height: 4rem;
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    transition: all 250ms ease-in;
    font-size: 1.6rem;
    color: white;
}

.product-btn-add:hover {
    transition: all 250ms ease-in;
    background-color: var(--primary-hover-color);
}

#product-btn-add-2 {
    display: none;
}

/* ----------------------------------------------------------------------------------------
*                                       05. Cart page css
* -------------------------------------------------------------------------------------- */
#cart-page {
    padding-bottom: 6rem;
    min-height: 60rem;
}

#cart-table {
    width: 100%;
    font-size: 1.5rem;
}

#cart-table tr {
    border-bottom: 1px solid #eee;
}

.empty-cart {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.8rem;
}

.empty-cart a {
    color: var(--primary-color);
}

thead th {
    padding: 1rem 0;
    color: #898989;
    font-weight: 400;
    font-size: 1.7rem;
}

.th-product-subtotal {
    padding-left: 0.5rem;
}

tbody td {
    padding: 3rem 0 3rem 0;
}

.shipping {
    position: relative;
}

.free-shipping {
    position: absolute;
    bottom: -4px;
    right: 0;
    font-size: 1.5rem;
    width: 125%;
    color: var(--text-color);
    font-style: italic;
}

.td-product-remove {
    width: 2.5%;
}

.td-product-remove a svg {
    font-size: 2rem;
    font-weight: 400;
    color: #333;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

tbody tr:hover .td-product-remove a svg {
    opacity: 1;
    transition: opacity 0.1s ease-in;
    cursor: pointer;
}

.td-product-thumb {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 10%;
}

.td-product-thumb a {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
}

.td-product-thumb a img {
    width: 100%;
}

.td-product-name {
    width: 40%;
}

.td-product-name a {
    font-size: 1.7rem;
    color: var(--primary-color);
}

.td-product-price {
    font-size: 1.7rem;
    color: var(--text-color);
}

.td-product-quantity input {
    width: 9rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.7rem;
    text-align: center;
    border: none;
    background-color: #eee;
    outline: none;
    text-indent: 1rem;
    border-radius: 0.2rem;
    /* text-indent: -3px; */
}

.td-product-subtotal {
    color: var(--primary-color);
    padding-left: 0.5rem;
    font-size: 1.7rem;
}

.wp-total {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.7rem;
}

.cart-collaterals {
    width: 40rem;
}

.cart-collaterals table {
    width: 100%;
}

.cart-collaterals tbody tr {
    border-bottom: 1px solid #eee;
}

.cart-collaterals tbody tr th {
    padding: 2rem 0;
    font-weight: 400;
    color: var(--text-color);
}

.cart-collaterals tbody tr td {
    text-align: right;
    color: var(--primary-color);
}

.checkout-btn {
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    height: 4.5rem;
    margin-top: 2rem;
    transition: all 0.2s ease-out;
}

.checkout-btn a {
    display: block;
    color: white;
    width: 100%;
    padding: 1rem 0 0.8rem 0;
}

.checkout-btn:hover {
    background-color: var(--primary-hover-color);
    transition: all 0.2s ease-out;
}

.checkout-btn:hover a {
    text-decoration: none;
}

#loading-cart {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff8a;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-cart .spinner-border {
    color: var(--primary-color);
    top: 50%;
    z-index: 2;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

/* ----------------------------------------------------------------------------------------
*                                       05. Checkout css
* -------------------------------------------------------------------------------------- */
#checkout-wrapper .logo {
    display: none;
}

#checkout-wrapper .logo a {
    display: block;
    width: 140px;
}

#checkout-wrapper .logo img {
    width: 100%;
}

#checkout-wrapper main {
    width: 60%;
    min-height: 100vh;
    margin: 0;
    padding: 90px 100px 0 0;
    float: left;
}

#checkout-wrapper main .logo {
    display: block;
}

#checkout-wrapper main .custom-info .head-info {
    margin-top: 50px;
    margin-bottom: 20px;
}
#checkout-wrapper main .custom-info .head-info h5 {
    font-size: 2rem;
}

#checkout-wrapper main .custom-info form input {
    width: 100%;
    height: 45px;
    border: 1px solid #d9d9d9;
    padding: 13px 11px;
    margin-bottom: 12px;
    font-size: 1.7rem;
}

#checkout-wrapper main .custom-info form input:focus {
    border: 1px solid #2b6b34;
}

#checkout-wrapper main .custom-info form input:nth-child(2) {
    margin-right: 2%;
}

#checkout-wrapper main .custom-info form input:nth-child(2),
#checkout-wrapper main .custom-info form input:nth-child(3) {
    width: 49%;
    float: left;
}

#checkout-wrapper main .custom-info form input[type="submit"] {
    width: 160px;
    padding: 11px 11px;
    float: right;
    background-color: #2b6b34;
    color: white;
    cursor: pointer;
    transition: all 250ms ease-in;
    border: none;
}

#checkout-wrapper main .custom-info form input[type="submit"]:hover {
    background-color: #235b2b;
    transition: all 250ms ease-in;
}

#checkout-wrapper main .custom-info form a {
    display: inline-block;
    color: #2b6b34;
    padding: 15px 0;
    font-size: 1.7rem;
}

#checkout-wrapper aside {
    width: 40%;
    background-color: #fafafa;
    min-height: 100vh;
    border-left: 1px solid #e1e1e1;
    padding: 90px 0 0 70px;
    float: right;
}

#checkout-wrapper aside::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    z-index: -1;
}

aside {
    width: 40%;
    background-color: #fafafa;
    border-left: 1px solid #e1e1e1;
    padding-left: 4.4rem;
}

aside::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fafafa;
    z-index: -1;
}

aside .cart {
    border-bottom: 1px solid #d5d5d5;
}

aside .cart ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

aside .cart ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

aside .cart ul li .product-thumb {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 5px;
}

aside .cart ul li .product-thumb img {
    width: 100%;
}

aside .cart ul li .product-infomations {
    width: 55%;
}

aside .cart ul li .product-infomations p {
    margin: 0;
    font-size: 15px;
}

aside .cart ul li .product-infomations .product-name a {
    color: #2b6b34;
    font-size: 1.7rem;
}

aside .cart ul li .product-infomations p.qty {
    font-size: 1.4rem;
    color: #717171;
}

aside .cart ul li .product-sub-price p {
    font-size: 1.7rem;
    color: #2b6b34;
    margin: 0;
}

aside .discount {
    padding: 30px 0;
    border-bottom: 1px solid #d5d5d5;
}

aside .discount form input[type="text"] {
    width: 70%;
    height: 45px;
    padding: 13px 11px;
    margin-right: 2%;
    border: 1px solid #d9d9d9;
    float: left;
    font-size: 1.7rem;
}

aside .discount form input[type="text"]:focus {
    border: 1px solid #2b6b34;
}

aside .discount form input[type="button"] {
    width: 28%;
    height: 45px;
    float: right;
    border: none;
    background-color: #2b6b34;
    color: white;
    cursor: pointer;
    transition: all 250ms ease-in;
    font-size: 17px;
}

aside .discount form input[type="button"]:hover {
    background-color: #235b2b;
    transition: all 250ms ease-in;
}

aside .subtotal {
    padding: 30px 0;
    border-bottom: 1px solid #d5d5d5;
}

aside .subtotal table {
    width: 100%;
    font-size: 1.7rem;
}

aside .subtotal table tr th {
    color: #717171;
    font-weight: 400;
}

aside .subtotal table tr td {
    text-align: right;
    color: #2b6b34;
    padding: 0;
}

aside .free-shipping {
    width: 133%;
    bottom: -34px;
}

/* aside .total {
    padding: 20px 0;
} */

aside .total table {
    width: 100%;
    font-size: 18px;
}

aside .total table tr th {
    color: #717171;
    font-weight: 400;
}

aside .total table tr td {
    text-align: right;
    color: #2b6b34;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Success page */
#success .wp {
    text-align: center;
    padding: 0 2rem;
    color: var(--primary-color);
}

#success .wp a {
    display: inline-block;
    width: 250px;
}

#success .wp a img {
    width: 100%;
}

#success h1 {
    font-size: 3rem;
}

#success h5 {
    margin-top: 30px;
    color: black;
    font-size: 1.7rem;
}

#success h5 span {
    color: var(--primary-color);
}

#success a.go-back {
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 1.7rem;
    text-decoration: none;
}

/* ----------------------------------------------------------------------------------------
*                                       06. Login page css
* -------------------------------------------------------------------------------------- */
.login-form {
    max-width: 55rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.login-form input {
    padding: 1.5rem;
    border: 1px solid #eee;
    color: #333;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    display: block;
    width: 100%;
    transition: border 0.25s linear;
    font-weight: normal;
}

.login-form input:focus {
    outline-style: none;
    border-color: var(--primary-color);
}

.login-form button {
    width: 100%;
    padding: 1.5rem;
    border-radius: 4px;
    color: white;
    border: none;
    background-color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.7rem;
}

.login-form .forgot {
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* ----------------------------------------------------------------------------------------
*                                       07. Contact page css
* -------------------------------------------------------------------------------------- */
.contact-page .contact form {
    width: 100%;
    margin: 0;
}

.contact-page .contact form textarea {
    width: 100%;
    height: 15rem;
    padding: 1.3rem 1.1rem;
    font-size: 1.7rem;
    border: 1px solid #d9d9d9;
}

.contact-page .contact form .btnContact {
    margin-top: 2rem !important;
}

.informations {
    margin-top: 10rem;
    border-bottom: 1px solid #d9d9d9;
}

.informations li {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
}

.informations li svg {
    font-size: 23px;
    display: inline-block;
    width: 20px !important;
}
section.media-icon {
    padding: 2rem 0 10rem 0rem;
    text-align: center;
}
